.booktable{
    width: 100%;
    height: 90vh;
    text-align: center;
}

.booktable-heading{
 width: 100%;
 height: auto;
}
.booktable-heading span{
    margin-top: 3rem;
color: darkorange;
font-size: 30px;
font-style: italic;
}
.booktable-heading h2{
    font-family: "Satisfy", sans-serif;
    font-size: 30px;
    margin-top: 2rem;
}
.booktable-heading p{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
.booktable-form{
width: 80%;
height: 70%;
margin-left: auto;
margin-right: auto;
display: block;
box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
}
.booktable-form input{
    border: 1px solid black;
}
.ip1 ,.ip2 ,.ip3 ,.ip4 ,.ip5 ,.ip6{
    width: 30%;
    padding-bottom: 1.7rem;
    margin-right: 1rem;

}
.ip1{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    padding-bottom: 1.7rem;
}
.ip7{
    width: 95%;
     margin-top: 2rem; 
    padding-bottom: 7rem;
}
.booktable-form button{
    width: 200px;
    height: 50px;
    margin-top: 1rem;
    background-color: darkorange;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 20px;
}


@media screen and (max-width: 768px){
    .ip1 ,.ip2{
        width: 40%;
        padding: 10px;
        margin-bottom: 0%;
        margin-top: 1rem;
    }
    .ip3 ,.ip4{
        width: 40%;
        padding: 10px;
        margin-top: 1rem;
    }
    .ip5 ,.ip6{
        width: 40%;
        padding: 10px;
        margin-top: 1rem;
    }
    .ip7 {
        width: 92%;
        margin-top: 1rem;
        padding-bottom: 5rem;
    }
}